.passwordRecovery {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: rgba(27,27,27,.15);
    /* overflow-y: scroll; */
    box-sizing: border-box;
    padding: 10px 0px 20px 0px;
}
.passwordRecovery .passwordRecovery__Content {
    width: 100%;
    height: auto;
}
.passwordRecovery h1 {
    margin: 0;
}
.passwordRecovery__Content, .prM__Content, .prM__Content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passwordRecovery__Top, .passwordRecovery__Providers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passwordRecovery__Content .passwordRecovery__Top {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 10px;
    transition: all .1s ease-in-out;
}
.passwordRecovery .passwordRecovery__Top.sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    box-sizing: border-box;
    padding: 10px;
}
.passwordRecovery__Top.sticky h1 {
    color: white;
}
.passwordRecovery__Top.sticky .lT__Left > div {
    color: white;
}
.passwordRecovery__Top.sticky .lT__Left .founder {
    color: white;
}
.lT__Left {
    width: max-content;
    height: auto;
    display: flex;
    align-items: center;
}
.lT__Left > div, .lT__Left .founder {
    width: max-content;
    height: auto;
    box-sizing: border-box;
    padding: 7px 10px;
    text-decoration: none;
    cursor: pointer;
}
.lT__Left > div:hover {
    color: rgb(90, 89, 89);
}
.founder {
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 8px;
}
.passwordRecovery__Top.sticky .founder {
    border: 1px solid white;
}
.founder:hover {
    background-color: black;
    color: white !important;
}
.passwordRecovery__Top.sticky .founder:hover {
    background-color: rgb(233, 234, 232);
    color: black !important;
}
.passwordRecovery__Content .passwordRecovery__Main {
    width: min(450px, 100%);
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 30px;
}
.passwordRecovery__Main .prM__Content {
    width: 100%;
    height: auto;
    align-items: center;
}
.prM__Content form {
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.prM__Content form > input {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #e2e8f0;
    background: none;
    outline: none;
    font-size: 15px;
    color: rgb(153, 153, 153);
    margin-top: 10px;
}
.prM__Content form > input:focus {
    border: 1px solid black;
}
.prM__Content form > input::placeholder {
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.prM__Content form .passwordRecovery__Button {
    width: 120px;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 10px 15px;
    transition: margin-left .3s ease-out;
    background-color: rgb(16, 16, 16);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prM__Content .passwordRecovery__Button.middle {
    margin-left: 0px;
}
.prM__Content .passwordRecovery__Button.right {
    margin-left: calc(100% - 120px);
}
.prM__Content .passwordRecovery__Button.left {
    margin-left: calc(-100% + 120px);
}
.passwordRecovery__Button:hover {
    background-color: rgb(25, 25, 25);
} 
.passwordRecovery__Button input {
    width: 100%;
    background: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0px;
    cursor: pointer;
}
.prM__Content .passwordRecovery__Providers {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.passwordRecovery__Providers > div {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 0px;
    border: 1px solid #e2e8f0;
    cursor: pointer;
}
.passwordRecovery__Providers > div:hover {
    background-color: rgb(233, 234, 232);
}
.passwordRecovery__Providers > div svg {
    width: 20px;
    height: 20px;
}
.passwordRecovery__Providers > div span {
    margin-left: 10px;
}
.prM__Content .requestSignup {
    width: max-content;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.requestSignup .passwordRecovery__SmallThick {
    margin-left: 10px;
}
/* texts */
.lT__Left > div, .passwordRecovery__SmallThick {
    font-size: 15px;
    font-weight: 650;
}
.passwordRecovery__Top h1 {
    font-size: 23px;
    font-weight: 700;
}
.prM__Content .passwordRecovery__Med {
    font-size: 16px;
    line-height: 1.7rem;
    margin-top: 10px;
}
.prM__Content h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    line-height: 1.5rem;
}
.passwordRecovery__Small {
    font-size: 15px;
    font-weight: 550;
    margin-top: 15px;
}
.passwordRecovery__Small.cursor, .passwordRecovery__SmallThick.cursor {
    cursor: pointer;
}
.passwordRecovery__Small.cursor:hover, .passwordRecovery__SmallThick.cursor:hover {
    color: rgb(90, 90, 90);
}

@media screen and (max-width: 1000px) {
    
    .prM__Content .passwordRecovery__Button.right {
        margin-left: 0px;
    }
    .prM__Content .passwordRecovery__Button.left {
        margin-left: 0px;
    }
}
@media screen and (max-width: 400px) {
    .passwordRecovery .passwordRecovery__Main {
        border-radius: 0px;
        padding: 20px;
    }
}
@media screen and (max-width: 400px) {
    .lT__Left > div {
        font-size: 15px;
    }
    .prM__Content h1 {
        font-size: 20px;
    }
    .prM__Content .passwordRecovery__Med {
        font-size: 15px;
        line-height: 1.4rem;
    }
    .prM__Content form > input {
        font-size: 15px;
        padding: 12px;
    }
    .prM__Content form > input::placeholder {
        font-size: 15px;
        color: rgb(153, 153, 153);
    }
    .prM__Content form .passwordRecovery__Button {
        padding: 15px;
    }
    .passwordRecovery__Small {
        font-size: 15px;
        margin-top: 25px;
    }
    .prM__Content .passwordRecovery__Providers {
        margin-top: 25px;
    }
    .passwordRecovery__Providers > div {
        padding: 15px 0px;
    }
    .passwordRecovery__SmallThick {
        font-size: 15px;
    }
    .prM__Content .requestSignup {
        margin-top: 25px;
    }
}